/ctp2_code/ctp/.vs
/ctp2_code/ctp/Debug/
/ctp2_code/gs/dbgen/Debug/
/ctp2_code/gs/newdb
/dshow/baseclasses/Debug/
/ctp2_code/mapgen/Debug/
/ctp2_code/mapgen/Crater_0/
/ctp2_code/mapgen/fault__0/
/ctp2_code/mapgen/geometr0/
*.vcxproj.user
/ctp2_code/ui/ldl/ldl.output
/ctp2_code/ui/ldl/ldl.tab.c
/ctp2_code/ui/ldl/ldl.tab.h
/ctp2_code/ui/ldl/lex.ldl.c
/ctp2_code/gs/dbgen/lex.yy.c
/ctp2_code/gs/dbgen/y.tab.c
/ctp2_code/gs/dbgen/y.tab.h
/ctp2_code/gs/slic/lex.sc.c
/ctp2_code/gs/slic/lex.yy.c
/ctp2_code/gs/slic/sc.tab.c
/ctp2_code/gs/slic/sc.tab.h
/ctp2_code/gs/slic/y.tab.c
/ctp2_code/gs/slic/y.tab.h
/ctp2_code/ctp/CivCTP_dbg.exe
/ctp2_code/ctp/CivCTP_dbg.ilk
/ctp2_code/ctp/MSVCRTD.DLL
/ctp2_code/ctp/dll/map/Crater.dll
/ctp2_code/ctp/dll/map/Crater.ilk
/ctp2_code/ctp/dll/map/fault.dll
/ctp2_code/ctp/dll/map/fault.ilk
/ctp2_code/ctp/dll/map/geometric.dll
/ctp2_code/ctp/dll/map/geometric.ilk
/ctp2_code/ctp/dll/map/plasma2.dll
/ctp2_code/ctp/dll/map/plasma2.ilk
/ctp2_code/ctp/logs/
/ctp2_code/ctp/userprofile.txt
/ctp2_code/gs/dbgen/ctpdb.exe
/ctp2_code/gs/dbgen/ctpdb.ilk
